.form-container {
  background-color: aqua;
  border: 5px solid black;
  padding: 30px;
  border-radius: 5px;
  width: 450px;
  margin: 30px auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-group {
  position: relative;
  height: 55px;
}

.input-group input {
  margin: auto;
  width: 300px;
  height: 38px;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
}

.input-error {
  border-color: red !important;
}

.error-text {
  position: absolute;
  left: 2px;
  bottom: -2px;
  font-size: 11px;
  color: red;
  line-height: 1;
  pointer-events: none;
  transform: translateY(100%);
}

/* Button */
.submit-btn {
  padding: 10px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.rw {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.sub-main {
  width: 350px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img1 {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  object-fit: cover;
}
