.main{
    width: 500px;
    height: 500px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 238, 255);
    margin: auto;
    border: 5px solid black;
    border-radius:  10px;
}
.main input{
    width: 250px;
    height: 10px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px red;
}

.file{
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 20px;
}

.check{
    border: none;
    width: 100px;
    height: 35px;border-radius: 5px;
    border: 1px solid red;
}

.img1{
    width: 200px;

}

.sub-main{
    margin: 50px;
    display: flex;
    width: 200px;
    height: inherit;

}

.rw{
    width: 300px;
    height: 22px;
    color: white;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}