.upload-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}


.img-box {
  width: 120px;
  height: 120px;
  position: relative;   
  border: 2px solid #444;
  border-radius: 6px;
  overflow: hidden;     
  background: #eee;
  cursor: pointer;
}


.img-content {
  width: 100%;
  height: 100%;
  object-fit: cover;       
  display: block;
}



.delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: 0.2s ease-in-out;
}


.img-box:hover .delete-overlay {
  opacity: 1;
}



.add-box {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px dashed #777;
  background: #f4f4f4;
}

.add-box:hover {
  background: #e9e9e9;
}